$theme_pink: #c3136a;
$theme_pink_2: #e00069;
$theme_blue: #2952ab;
$theme_dark_blue: #213383;
$theme_grey: #6b6b6b;
$text_black: #303030;
$footer: #292e82;

$font_montseratt: 'Montserrat', sans-serif;
